@model IList<VeiculosModel>


<h1>Veiculos Cadastrados</h1>

@if (!String.IsNullOrEmpty((String)TempData["Mensagem"]))
{
    <div class="alert alert-warning" role="alert">@TempData["Mensagem"]</div>
}

<p class="toolbar">
    <a class="create btn btn-dark" asp-controller="Veiculos" asp-action="CadastroVeiculos">Adicionar Veiculo</a>
</p>


<table class="table table-striped" border="1" cellspacing="3" cellpadding="3">
    <thead class="table table-dark table-striped">
        <tr>
            <th class="text-center" scope="col" width="10" data-field="id">Id</th>
            <th class="text-center" width="100" data-field="fabricante">Fabricante</th>
            <th class="text-center" width="260" data-field="modelo">Modelo</th>
            <th class="text-center" width="100" data-field="cor">Cor</th>
            <th class="text-center" width="100" data-field="ano">Ano</th>
            <th class="text-center" width="100" data-field="placa">Placa</th>
            <th class="text-center" width="100" data-field="km">Quilometragem</t>
            <th class="text-center" width="300" data-field="obs">Observações</th>
            <th class="actions text-center" width="300">Ações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var veiculo in Model)
        {
            <tr>
                <td width="10" align="center" data-field="id">@veiculo.Id</td>
                <td width="100" align="center" data-field="fabricante">@veiculo.Fabricante</td>
                <td width="260" align="center" data-field="modelo">@veiculo.Modelo</td>
                <td width="100" align="center" data-field="cor">@veiculo.Cor</td>
                <td width="100" align="center" data-field="ano">@veiculo.Ano</td>
                <td width="100" align="center" data-field="placa">@veiculo.Placa</td>
                <td width="100" align="center" data-field="km">@veiculo.Km</td>
                <td width="300" align="center" data-field="obs">@veiculo.Obs</td>
                <td class="actions" width="300">
                    <a type="button" class="btn btn-primary btn-sm" asp-controller="Cliente" asp-action="Detalhe" asp-route-id="@veiculo.Id">Detalhe</a>
                    <a type="button" class="btn btn-primary btn-sm" asp-controller="Cliente" asp-action="Editar" asp-route-id="@veiculo.Id">Editar</a>
                    <a type="button" class="btn btn-primary btn-sm" asp-controller="Cliente" asp-action="Remover" asp-route-id="@veiculo.Id">Remover</a>
                </td>
            </tr>
        }


    </tbody>

</table>
